html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: white;
  color: #0033a0;
  padding: 10px 0;
}
.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.logo {
  font-size: 24px;
  font-weight: bold;
  color: #0033a0;
  text-decoration: none;
  margin-left: 20px;
}
.nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-link {
  font-size: 18px;
  font-weight: bold;
  color: #0033a0;
  text-decoration: none;
  transition: color 0.3s;
  position: relative;
}
.nav-link:hover {
  color: #bbdefb;
}
a {
  text-decoration: none;
  color: white;
}
.logo-sura {
  width: 50px;
  height: 50px;
  position: relative;
  margin-right: 200px;
  right: 20px;
}
.nav-link {
  position: relative;
  right: 50px;
}
.Acerca {
  position: relative;
  bottom: 60px;
}
.boton-admin {
  position: relative;
}
.form-absolute {
  width: 280px;
  height: 280px;
}
.boton-admin:hover .form-absolute {
  top: 75px;
  opacity: 1;
  display: inline;
}
.boton-admin .form-absolute {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: none;
}
.boton-admin button {
  position: relative;
  z-index: 10;
}
.btn-admin {
  display: flex;
  flex-direction: column;
  height: 400px;
  justify-content: space-around;
}
.btn-especialista {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.btn-paciente {
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.container-main {
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #16384c;
}
.container-roles {
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: space-around;
  position: relative;
}
label {
  display: flex;
  justify-content: center;
  color: black;
  background-color: aliceblue;
}
input {
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.botones {
  padding: 10px;
  border-radius: 15%;
}
.footer {
  width: 100%;
  height: 100px;
  background-color: white;
  display: inline-block;
  justify-content: space-around;
}
.footer img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}
.dropdown-menu {
  display: flex;
  position: relative;
  background-color: #0033a0;

  border-radius: 5px;
  bottom: 1px;
  z-index: 1;
}
.nav-item:hover .dropdown-menu {
  display: block;
  position: relative;
  bottom: 50px;
}
.dropdown-menu li {
  padding: 10px;
}
.dropdown-menu a {
  color: white;
  text-decoration: none;
  display: block;
}
.dropdown-menu a:hover {
  background-color: #555;
}

h2 {
  color: #0033a0;
}
.fotos-integrantes {
  border-radius: 50%;
  object-fit: contain;
}

@media (max-width: 480px) {
  .container {
    flex-direction: column;
    align-items: center;
    align-content: space-around;
  
  }

  .logo-sura {
    margin: 0 auto;
  }


    .container-roles{
      display: flex;
      flex-direction: column;
      align-content: space-between;
      justify-content: space-between;
      align-items: center;
    }
    .container-main{
      height: 1200px;
    }
  
   .footer {
    text-align: center;
  }

  .footer img {
    max-width: 100px;
    height: auto;
  }
}

@media (max-width: 850px) {
  .container {
    flex-direction: column;
    align-items: center;
    align-content: space-around;
  
  }

  .logo-sura {
    margin: 0 auto;
  }
  .container-roles{
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-between;
    align-items: center;
  }
  .container-main{
    height: 1200px;
  }
  
  }

  
